include _logo

mixin header(menuItems, colorTheme, headerStyle)
    header.header.container
        - let headerClass = headerStyle ? `header__content--${headerStyle}` : ""
        div(class = "header__content " + headerClass)
            +logo(colorTheme)
            nav.header__menu-container 
                ul.header__menu
                    each menuItem in menuItems
                        li.header__menu-el
                            if menuItem.isActive
                                a.header__menu-link.header__menu-link--active(href=menuItem.link) #{menuItem.text}
                            else
                                a.header__menu-link(href=menuItem.link) #{menuItem.text}